<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{315,389},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{431,381},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{397,305},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{315,305},{82,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{417,97},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{417,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{213,203},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{213,103},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{107,323},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{211,323},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{315,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{313,205},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{413,205},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{213,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{109,1},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1,217},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1,109},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{1,323},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{107,217},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{109,105},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{315,103},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{130,114}</string>
                <key>textureRect</key>
                <string>{{377,389},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>touchEffect.png</string>
            <key>size</key>
            <string>{512,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ea09493f3fc17056010bd62b7bfadd5:cfcccfe527374f599aa50b6683c528bf:42ee3dec32363a6b274c6965523eb512$</string>
            <key>textureFileName</key>
            <string>touchEffect.png</string>
        </dict>
    </dict>
</plist>
